header {
    display: flex;
    justify-content: space-around;
    background-color:skyblue;
    text-shadow: grey 2px 2px 4px;
}

nav {
    display: flex;
    background-color: #d9c7ce;
    font-size: 1.5rem;
}
a {
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 3px 3px 0 0;
    text-decoration: none;
    color: #130202;
    
    }
    a:hover, a:focus, a:active {
    background-color: #ffcc22;
    color: black;
    transition: color 200ms ease-out 50ms;
    }

    main img:hover {transform: perspective(750px) translateZ(60px) rotateX(45deg);}

nav:hover {
        
        transition-property:all;
transition-duration: 200ms;
transition-timing-function: ease-in;
transition-delay: 50ms;
transform: scale(1, 1);
}